.Footer
{
    background-color: var(--mediumGrey);
}

.Footer h3
{
    color:#fff;
    padding: 10px 20px;
}

.Line
{
    margin: auto;
    background-color: #000;
    height: 1px;
    width: 94vw;
}

.Social
{
    padding-top: 50px;
}

.Social a
{
    font-size: 1.02rem;
    color:#fff;
    display: inline-block;
    margin-top: 40px;
}

.Social span
{
    background: #fff;
    width:35px;
    height: 35px;
    margin: 10px;
}

.CopyRight
{
    text-align: center;
    color:#fff;
    font-family: Muli;
    font-size: 1.1rem;
    padding: 20px 78px;
    letter-spacing: 0.3em;
}

@media screen and (min-width:768px)
{
    .Footer h3
    {
        padding: 10px 40px;
    }

}